ion-content {
  background-color: var(--main-bg-color);
  background: var(--main-bg-gradient);
}

.content {
  display: flex;
  justify-content: center;

  p {
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 1.2em;
    background-color: var(--item-bg-color);
    box-shadow: var(--item-shadow);
  }
}
