<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button
      *ngFor="let item of navbarLeftItems"
      (click)="item.action()"
    >
      <span *ngIf="item.translation_code">{{ item.translation_code | translate }}</span>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button
      *ngFor="let item of navbarRightItems"
      (click)="item.action()"
    >
      <ion-icon
        [name]="item.icon"
        [slot]="!item.translation_code ? 'icon-only' : 'start'"
      ></ion-icon>
      <ion-badge *ngIf="item.badge_number" color="danger">{{ item.badge_number }}</ion-badge>
      <span *ngIf="item.translation_code">{{ item.translation_code | translate }}</span>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<app-search-popup
  *ngIf="isSearchOpen"
  (closePopup)="closeSearch()"
></app-search-popup>

<app-notifications-drawer
  *ngIf="isNotificationsOpen"
  (closeNotifications)="closeNotifications()"
></app-notifications-drawer>
