<div>
  <p>{{ 'HOUR_TRACKING_REPORT_LONG_DESCRIPTION' | translate }}</p>

  <ion-item>
    <ion-input
      label="{{ 'START_DATE' | translate }}"
      value="{{ startDate }}"
      id="start_date"
    ></ion-input>
    <ion-popover trigger="start_date" >
      <ng-template>
        <ion-datetime
          presentation="date"
          [(ngModel)]="startDate"
          (ngModelChange)="onDateChange()"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-item>
    <ion-input
      label="{{ 'END_DATE' | translate }}"
      value="{{ endDate }}"
      id="end_date"
    ></ion-input>
    <ion-popover trigger="end_date" >
      <ng-template>
        <ion-datetime
        presentation="date"
        [(ngModel)]="endDate"
        (ngModelChange)="onDateChange()"
      ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <p class="zoom-info">{{ 'ZOOM_AND_PAN_INFO' | translate }}</p>
  <div class="canvas-container">
    <canvas id="canvas">{{chart}}</canvas>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" class="selection-segment">
    <ion-segment-button value="user">
      <ion-label>{{ 'USER_HOUR_TRACKING' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="item">
      <ion-label>{{ 'ITEM_HOUR_TRACKING' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="table" *ngIf="itemReport.length && selectedSegment === 'user'">
    <h3>{{ 'USER_HOUR_TRACKING' | translate }}</h3>
    <div class="table-entry" *ngFor="let entry of userReport">
      <div class="table-column">{{ entry.userName }}</div>
      <div class="table-column">{{ 'TOTAL_HOURS' | translate }}: {{ entry.totalHours }}</div>
      <div class="table-column activity-column">
        <span>{{ 'ACTIVITY' | translate }}:</span>
        <div *ngFor="let activity of entry.activity" class="table-column">
          {{ activity.date | date: 'dd.MM.yyyy' }}: {{ 'X_HOURS' | translate: { hours: activity.hours } }}
          <span class="desktop-only">&nbsp;-&nbsp;</span>
          <div class="flex-row">
            <div><a [routerLink]="['/app/item/' + activity.itemId]">{{ activity.itemCode }}</a></div>
            &nbsp;
            <div>{{ activity.itemName }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table" *ngIf="itemReport.length && selectedSegment === 'item'">
    <h3>{{ 'ITEM_HOUR_TRACKING' | translate }}</h3>
    <div class="table-entry" *ngFor="let entry of itemReport">
      <div class="table-column">
        <div><a [routerLink]="['/app/item/' + entry.itemId]">{{ entry.itemCode }}</a></div>
        &nbsp;
        <div>{{ entry.itemName }}</div>
      </div>
      <div class="table-column">{{ 'ESTIMATE' | translate }}: {{ entry.itemEstimate }}</div>
      <div class="table-column activity-column">
        <span>{{ 'ACTIVITY' | translate }}:</span>
        <span *ngFor="let activity of entry.activity">
          {{ activity.date | date: 'dd.MM.yyyy' }}: {{ activity.hours }}h - {{ activity.userName }}
        </span>
      </div>
    </div>
  </div>
</div>
