<div>
  <p>{{ 'BURNDOWN_CHART_LONG_DESCRIPTION' | translate }}</p>
  <div class="options">
    <div class="sprint-select">
      <ion-item>
        <ion-select
          label="{{ 'SPRINT' | translate }}"
          [(ngModel)]="selectedSprintId"
          (ngModelChange)="onSprintChange($event)"
        >
          <ion-select-option
            *ngFor="let sprint of sprints"
            [value]="sprint._id"
          >
            {{ sprint.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="measure-select">
      <ion-item>
        <ion-select
          label="{{ 'MEASURE' | translate }}"
          [(ngModel)]="selectedMeasure"
          (ngModelChange)="onMeasureChange($event)"
        >
          <ion-select-option value="complexity">
            {{ 'COMPLEXITY' | translate }}
          </ion-select-option>
          <ion-select-option value="hours">
            {{ 'HOURS' | translate }}
          </ion-select-option>
          <ion-select-option value="item_count">
            {{ 'ITEM_COUNT' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <canvas id="canvas">{{chart}}</canvas>
  <div class="table" *ngIf="tableData.length">
    <div class="table-entry" *ngFor="let entry of tableData">
      <div class="table-column">{{ entry.date }}</div>
      <div class="table-column">{{ entry.eventType | translate }}</div>
      <div class="table-column table-item">
        <div class="table-multi-item-container" *ngFor="let item of entry.items">
          <span><a [routerLink]="['/app/item/' + item.id]">{{ item.code }}</a></span>
          <span> {{ item.name }} </span>
          <span class="item-values" *ngIf="item.newValue">
            <span *ngIf="item.oldValue">{{ item.oldValue }} > </span>
            <span>{{ item.newValue }}</span>
            <span *ngIf="item.valueType === 'estimate'">h</span>
            <span *ngIf="item.valueType === 'complexity'"> {{ 'COMPLEXITY' | translate }}</span>
          </span>
        </div>
        <span *ngIf="entry.eventType === EventType.SPRINT_START">
          {{ 'TOTAL_X' | translate: { count: sprintStartTotal } }}
        </span>
        <span *ngIf="entry.eventType === EventType.SPRINT_END">
          {{ 'TOTAL_X' | translate: { count: sprintEndTotal } }}
        </span>
      </div>
    </div>
  </div>
</div>
