ion-content {
  background-color: var(--main-bg-color);
  background: var(--main-bg-gradient);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.profile-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  ion-card {
    margin: 0;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    ion-card-title {
      margin-left: 16px;
    }
  }

  .general-card {
    ion-button {
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  .settings-card {
    ion-button {
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  .password-card {
    .password-error-text {
      margin-left: 16px;
      color: red;
      margin-top: 8px;
      margin-bottom: 0px;
    }

    ion-button {
      margin-top: 16px;
      margin-left: 16px;
    }
  }

  .logs-card {
    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      padding: 8px 16px;
      margin-left: 16px;

      .filter {
        ion-checkbox::part(label) {
          margin-inline-start: 8px !important;
        }
      }
    }
  }
}
